{% block nav %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ site.url }}">{{ site.name }}</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    {% for item in menu.get_items %}
                        {% if item.get_children %}
                            <li class=" dropdown {{item.classes | join(' ')}} {% if item.current or item.current_item_ancestor or item.current_item_parent %}active{%endif%}">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="{{item.get_link}}">{{item.title}}<b class="caret"></b></a>
                                <ul class="dropdown-menu" role="menu">
                                    {% for child in item.get_children %}
                                        <li {% if child.current %}class="active"{%endif%}>
                                            <a href="{{child.get_link}}">{{child.title}}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                            <li class="{{item.classes | join(' ')}} {% if item.current or item.current_item_ancestor or item.current_item_parent %}active{%endif%}">
                                <a href="{{item.get_link}}">{{item.title}}</a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
{% endblock nav %}
